.headerWrapper {
    margin: auto;
    padding: 0 90px;
    height: 140px;
    position: relative;
}

.header {
    margin-left: auto;
    display: flex;
    justify-content: right;
    gap: 22px;
}

.header a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    transition: .1s ease-in-out;
}

.headerMobile {
    display: none;
    width: 40px;
    height: 30px;
}

.header a:hover {
    color: blue
}
@media screen and (max-width: 850px) {
    .header a {
        display: none;
    }
    .headerMobile {
        display: block;
    }
}