.headerWrapper {
    margin: auto;
    padding: 0 90px;
    height: 140px;
    position: relative;
}

.header {
    margin-left: auto;
    display: flex;
    justify-content: right;
    gap: 22px;
}

.headerMobile {
    display: none;
    width: 100%;
    height: fit-content;
    padding-right: 0;
}

@media screen and (max-width: 850px) {
    .headerWrapper {
        padding: 0 30px;
    }
    .headerLiks {
        display: none;
    }
    .headerMobile {
        display: flex;
        justify-content: right;
    }
}